* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#grid {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    gap: 5px;
    margin-top: 20px;
}


.square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 5px;
    height: 40px;
 
    cursor: pointer;
}




